<%= form_with(model: event_category, local: true) do |form| %>
  <% if event_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_category.errors.count, "error") %> prohibited this event_category from being saved:</h2>

      <ul>
      <% event_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_category_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_category_description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Back', event_categories_path, class: "btn btn-primary ml-4" %>
  </div>
<% end %>
